h1 {
    color: rgb(red, green, blue);/* this has red color */
    font-size: 30px;
    background-color: orange;
    /* control "/" can give this comment easily */
    /* and ctrl space is helping showing the properties of css */
    /* can use hex code from google for colour */
    margin: 30px;
    border: 15px dotted  pink;
    padding: 20px;
}
p{
    border: 10px dashed green ;  
    
}
/* instead of solid can use dashed dotted */

#h3 {  /*h3 is the id name*/
    color: blue;
    font-size: 30px;

}
h1,h3{
    color: blue;
    border: 5px solid yellow;
}
.h3class { /*this  h3class is the class name */
    color: yellow;


}
img{
    height: 500px;
    width: 500px;


}