/* This is a universal selector */
* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.hero-section {
    background-image: url(banner.jpg);
    height: 100vh; /* 100vh ensures it takes the full height of the viewport */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    /* this last 3 functions are from chatgpt */
    /* ctrl i gives the options of a property  */
    background-blend-mode:overlay;
    background-color: rgba(0,0,0,0.5);  /* this 0.5 is opacity takes values 0 to 1*/
    position: relative;
    text-align: center;
    
}
.hero-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*look in gpt*/

}
.book-button,
.know-button{
    background-color: aqua;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px; 
    /* padding top right bottom left. also padding means filling inside that box */
    margin-top: 10px;
    cursor: pointer;
}
.about-us{
    float: left;
    width: 50%;
    margin: 10px 10px 0px 20px;
    text-align: left;
}
.about-section > h1{    /*this h1 is the immediate child of about-section*/
    text-align: center;
    margin: 10px 0px;
    text-decoration: underline;
}
.amenities{
    text-align: center;
}
.amenities ul{
    display: inline-block;  /*automatically align to the available space*/
    text-align: left;
    margin: top 10px; ;
}
